.tictactoe {
  display: flex;
  flex-direction: row;
}

.tictactoe ol,
.tictactoe ul {
  padding-left: 30px;
}

.tictactoe__board-row:after {
  clear: both;
  content: '';
  display: table;
}

.tictactoe__status {
  margin-bottom: 10px;
}

.tictactoe__square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.tictactoe__square:focus {
  outline: none;
}

.tictactoe__kbd-navigation .square:focus {
  background: #ddd;
}

.tictactoe__game-info {
  margin-left: 20px;
}
